@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@100;400&display=swap');

.about,
.projects,
.contact,
.resume {
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.error {
  color: rgb(129, 16, 16);
}

@media screen and (min-width: 1024px) {
  .avatar {
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes appear {
    from {
      transform: translateY(0);
      opacity: 0;
    }
    to {
      transform: translateY(-13rem);
      opacity: 1;
    }
  }
}